@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400&display=swap");

:root {
  --lightGray: #d8d4d4;
  --midGray: #535151;
  --darkGray: #272626;
  --light: #d68b12;
  --whiteGray: #d8d4d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--lightGray);
  text-transform: uppercase;
}

ul {
  padding: 0 1.5rem;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

li {
  list-style: none;
  position: relative;
  transition: all 0.3s;
}

nav img {
  filter: invert(100%) sepia(1%) saturate(7422%) hue-rotate(186deg)
    brightness(121%) contrast(67%);
}

.tooltip {
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--lightGray);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 12px;
  transition: all 0.3s;
  z-index: 1;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  font-weight: 600;
}

nav {
  height: 4rem;
  border-radius: 0.5rem;
  width: 80vw;
  position: fixed;
  bottom: 3%;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--midGray);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
  animation: nav 0.7s ease-in-out;
}

@keyframes nav {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

section {
  height: 100vh;
  width: 100vw;
  background-color: var(--darkGray);
}

.active {
  padding: 1rem;
  transform: scale(1.05);
  border-radius: 0.5rem;
  border: 2px solid var(--light);
  transition: all 0.15s ease-in-out;
  background: var(--darkGray);
  border-radius: 16px;
  backdrop-filter: blur(60.6px);
  -webkit-backdrop-filter: blur(60.6px);
}

.active img {
  transform: translateY(-1rem);
}

#contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.form {
  padding: 1rem;
  width: 85%;
  background-color: var(--midGray);
  margin: 0 auto;
  border-radius: 0.5rem;
  background: var();
  box-shadow: -0.25rem 0.25rem rgba(0, 0, 0, 0.571), 0 0 rgba(0, 0, 0, 0.514);
}

@keyframes slideIn {
  0% {
    transform: translateY(-50%) scale(0.01);
  }
  100% {
    transform: translateX(0);
  }
}

.formAnimation {
  animation: slideIn 0.5s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  height: 5rem;
  border-radius: 0.2rem;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  transition: all 0.25s ease-in-out;
  text-indent: 0.5rem;
  border: 1px solid var(--darkGray);
}

input {
  border-radius: 0.2rem;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  transition: all 0.25s ease-in-out;
  text-indent: 0.5rem;
  border: 1px solid var(--darkGray);
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: -0.25rem 0.25rem rgba(0, 0, 0, 0.571), 0 0 rgba(0, 0, 0, 0.514);
  transform: translate(2px, -2px);
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

form button {
  background-color: var(--light);
  width: 60%;
  margin: 0.5rem 0 0.5rem auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(0, 0, 0);
  transition: all 0.15s ease-in-out;
  position: relative;
}

.text {
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  color: var(--lightGray);
}

.text h1 {
  font-size: 2.5rem;
}

label {
  color: var(--whiteGray);
}

form button:hover {
  transform: translate(2px, -2px);
  box-shadow: -0.25rem 0.25rem rgba(0, 0, 0, 0.571), 0 0 black;
}

#home .container {
  height: 70vh;
  display: flex;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signature {
  stroke-dasharray: 332;
  stroke-dashoffset: 332;
  animation: sign 3s ease forwards;
}

#arrow {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: sign 3s ease forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.signature {
  position: absolute;
  bottom: 7rem;
  left: 4rem;
  transform: scale(1.2) rotate(20deg);
  fill: var(--lightGray);
}

.signature h5 {
  animation: appear 3s ease;
  color: var(--lightGray);
}

.text-home {
  text-align: left;
  padding: 1rem;
  margin-bottom: 0.5rem;
  color: var(--lightGray);
}

.text-home h3 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.hello {
  background-color: var(--light);
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.5rem;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    transform: scale(1.1);
  }
  to {
  }
}

.hello-text {
  display: flex;
  gap: 2rem;
  align-items: baseline;
}

.hello-text h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.name {
  margin-top: 2rem;
  display: inline-block;
  font-size: 4rem;
  font-weight: 600;
  border-radius: 0.5rem;
  position: relative;
  z-index: 4;
  letter-spacing: 0.4rem;
}

.name::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1rem;
  background-color: var(--light);
  bottom: 0.9rem;
  z-index: -1;
  animation: stick 1s ease-in-out;
}

@keyframes stick {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }
  50% {
    transform: translateX(-2rem);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
  }
}

h2 {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
}

h2 span {
  background-color: var(--light);
  padding: 0.5rem;
  display: inline-block;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.15s ease-in-out;
}

h2 span:hover {
  background-color: rgb(255, 198, 55);
}

h1 span {
  background-color: rgba(218, 165, 32, 0);
  padding: 0.5rem;
  display: inline-block;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.desc {
  margin-top: 3rem;
  border-radius: 0.5rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}

/* technologies */

.items {
  display: grid;
  gap: 0.1rem;
  grid-template-columns: 1fr;
  width: 90vw;
  transition: all 0.15s ease-in-out;
}

.items:hover {
  border: 1px solid black;
  box-shadow: -0.25rem 0.25rem rgba(0, 0, 0, 0.571), 0 0 rgba(0, 0, 0, 0.514);
  transform: translate(5px, -5px);
}

.item {
  border-bottom: 1px solid var(--whiteGray);
  padding: 0.4rem;
  display: grid;
  grid-template-columns: 150px 1fr;
  color: var(--lightGray);
}

@keyframes slide {
  from {
    transform: scaleX(0);
    transform-origin: 0;
  }
  to {
    transform: scaleX(1);
  }
}

.skill {
  background-color: var(--light);
  height: 100%;
  margin-right: auto;
  animation: slide 1s ease-in-out;
  border-radius: 0.3rem;
}

.item h3 {
  font-weight: 400;
}

.item h3 span {
  font-weight: 600;
}

#technologies .container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techno {
  font-size: 2.3rem;
  text-align: center;
  color: var(--lightGray);
}

@keyframes slide-left {
  0% {
    transform: translateX(10rem);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-10rem);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}

.level {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--light);
  border-right: 1px solid var(--light);
  animation: level 1s ease-in-out;
}

@keyframes level {
  from {
    opacity: 0;
    width: 0;
    transform: translate(4rem, -4rem);
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
    width: 100%;
  }
}

.level div {
  padding: 0.5rem;
  border-left: 1px solid var(--light);
  flex: 1;
}

/* projects */

#projects .container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--lightGray);
}

.info-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-text p {
  font-weight: 400;
  font-size: 0.75rem;
}

.info-text h4 {
  font-size: 1.2rem;
}

.project {
  border-bottom: 1px solid var(--whiteGray);
  padding: 0.3rem 1rem;
}

.project-container {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.information img {
  transition: all 0.15s ease-in-out;
  filter: invert(57%) sepia(99%) saturate(541%) hue-rotate(355deg)
    brightness(87%) contrast(91%);
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: all 0.45s ease-in-out;
  color: var(--lightGray);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons a {
  margin-top: 0.5rem;
  border: 1px solid var(--light);
  padding: 0 0.5rem;
  border-radius: 0.3rem;
}

@media screen and (min-width: 768px) {
  /* HomeContainer */

  #home h2 {
    font-size: 3rem;
    text-align: center;
  }

  #home .name {
    font-size: 4.5rem;
  }

  #home {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #home p {
    padding: 1rem;
    width: 70%;
    margin-left: auto;
  }

  /* Technologies */

  #technologies .container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item {
    padding: 0.4rem 0;
  }

  /* projects */

  .info-text {
    gap: 2rem;
  }

  .info-text p {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .info-text h4 {
    font-size: 2rem;
  }

  .hidden p {
    padding: 1.2rem;
    font-size: 1.3rem;
    font-weight: 200;
  }

  .buttons {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .buttons a {
    padding: 0.5rem 1rem;
    border: 3px solid var(--light);
    text-align: center;
  }

  /* contact */

  .text h1 {
    font-size: 3rem;
  }

  .text p {
    font-size: 1.5rem;
    color: var(--lightGray);
  }

  label {
    font-size: 1.5rem;
  }

  .form {
    width: 60%;
  }
}
